<a href="https://colab.research.google.com/github/Lehazirov/dap-2024/blob/main/rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.

К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"
2. Просмотрите первые 6 строк

In [6]:
from google.colab import files

# Загружаем файл
uploaded = files.upload()

# Если вы загрузили файл titanic.csv, например:
import pandas as pd

# Чтение загруженного файла в DataFrame
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Выводим первые несколько строк для проверки
df.head()

Saving titanic.csv to titanic.csv

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

3. Выведите описание данных

In [7]:
import pandas as pd

# Загружаем данные
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Выводим описание данных
print(df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [8]:
# Считаем количество мужчин и женщин
gender_count = df['Sex'].value_counts()
print(gender_count)

Sex
male      577
female    314
Name: count, dtype: int64

5. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?

In [9]:
# Распределение Pclass для всех пассажиров
pclass_distribution = df['Pclass'].value_counts()

# Распределение Pclass для мужчин
pclass_men = df[df['Sex'] == 'male']['Pclass'].value_counts()

# Распределение Pclass для женщин
pclass_women = df[df['Sex'] == 'female']['Pclass'].value_counts()

# Количество мужчин 2-го класса
men_2nd_class = pclass_men.get(2, 0)

print("Распределение Pclass для всех пассажиров:")
print(pclass_distribution)

print("\nРаспределение Pclass для мужчин:")
print(pclass_men)

print("\nРаспределение Pclass для женщин:")
print(pclass_women)

print(f"\nМужчин 2-го класса: {men_2nd_class}")

Распределение Pclass для всех пассажиров:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение Pclass для мужчин:
Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение Pclass для женщин:
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Мужчин 2-го класса: 108

6. Каковы медиана и среднеквадратичное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [10]:
# Медиана и стандартное отклонение для столбца Fare
fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)

print(f"Медиана Fare: {fare_median}")
print(f"Стандартное отклонение Fare: {fare_std}")

Медиана Fare: 14.45
Стандартное отклонение Fare: 49.69

7. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [11]:
# Разделяем пассажиров на две группы: моложе 30 лет и старше 60 лет
young = df[df['Age'] < 30]
old = df[df['Age'] > 60]

# Рассчитываем долю выживших в каждой группе
young_survival_rate = young['Survived'].mean()
old_survival_rate = old['Survived'].mean()

print(f"Доля выживших среди пассажиров младше 30 лет: {round(young_survival_rate, 2)}")
print(f"Доля выживших среди пассажиров старше 60 лет: {round(old_survival_rate, 2)}")

Доля выживших среди пассажиров младше 30 лет: 0.41
Доля выживших среди пассажиров старше 60 лет: 0.23

8. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [12]:
# Доля выживших среди женщин и мужчин
women_survival_rate = df[df['Sex'] == 'female']['Survived'].mean()
men_survival_rate = df[df['Sex'] == 'male']['Survived'].mean()

print(f"Доля выживших среди женщин: {round(women_survival_rate, 2)}")
print(f"Доля выживших среди мужчин: {round(men_survival_rate, 2)}")

Доля выживших среди женщин: 0.74
Доля выживших среди мужчин: 0.19

9. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [13]:
import pandas as pd

# Загружаем данные
df = pd.read_csv('titanic.csv')

# Фильтруем только мужчин
men_names = df[df['Sex'] == 'male']['Name']

# Извлекаем имена (имя после титула)
men_first_names = men_names.str.extract(r'[A-Za-z]+\.\s+([A-Za-z]+)')[0]

# Находим самое популярное имя
most_popular_men_name = men_first_names.mode()[0]

print(f"Самое популярное имя среди мужчин: {most_popular_men_name}")

Самое популярное имя среди мужчин: William

10. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

В среднем мужчины 1-го класса старше 40 лет?

 В среднем женщины 1-го класса старше 40 лет?

  Мужчины всех классов в среднем старше женщин того же класса?
  
   В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса?

In [16]:
import pandas as pd

# Загружаем данные
df = pd.read_csv('titanic.csv')

# Учитываем только строки с ненулевым возрастом
df = df[df['Age'].notnull()]

# Средний возраст мужчин и женщин по классам
avg_age_by_class_sex = df.groupby(['Pclass', 'Sex'])['Age'].mean()

# Средний возраст пассажиров по классам
avg_age_by_class = df.groupby('Pclass')['Age'].mean()

# Проверка утверждений
assert_men_class1 = avg_age_by_class_sex.loc[(1, 'male')] > 40
assert_women_class1 = avg_age_by_class_sex.loc[(1, 'female')] > 40
assert_men_vs_women = avg_age_by_class_sex.loc[:, 'male'].mean() > avg_age_by_class_sex.loc[:, 'female'].mean()
assert_class_order = avg_age_by_class[1] > avg_age_by_class[2] > avg_age_by_class[3]

# Результаты
print("Средний возраст мужчин и женщин в зависимости от класса обслуживания:")
print(avg_age_by_class_sex.reset_index())

print("\nСредний возраст пассажиров по классам:")
print(avg_age_by_class_sex.reset_index())

print("\nПроверка утверждений:")
print(f"1. В среднем мужчины 1-го класса старше 40 лет: {assert_men_class1}")
print(f"2. В среднем женщины 1-го класса старше 40 лет: {assert_women_class1}")
print(f"3. Мужчины всех классов в среднем старше женщин того же класса: {assert_men_vs_women}")
print(f"4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: {assert_class_order}")

Средний возраст мужчин и женщин в зависимости от класса обслуживания:
   Pclass     Sex        Age
0       1  female  34.611765
1       1    male  41.281386
2       2  female  28.722973
3       2    male  30.740707
4       3  female  21.750000
5       3    male  26.507589

Средний возраст пассажиров по классам:
   Pclass     Sex        Age
0       1  female  34.611765
1       1    male  41.281386
2       2  female  28.722973
3       2    male  30.740707
4       3  female  21.750000
5       3    male  26.507589

Проверка утверждений:
1. В среднем мужчины 1-го класса старше 40 лет: True
2. В среднем женщины 1-го класса старше 40 лет: False
3. Мужчины всех классов в среднем старше женщин того же класса: True
4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: True

11. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [17]:
# Рассчитываем средний возраст для спасенных и погибших
average_age_by_survival = df.groupby('Survived')['Age'].mean()

# Выводим результаты
average_age_survived = average_age_by_survival[1]  # Средний возраст спасенных
average_age_not_survived = average_age_by_survival[0]  # Средний возраст погибших

print(f"Средний возраст спасенных пассажиров: {average_age_survived:.2f}")
print(f"Средний возраст погибших пассажиров: {average_age_not_survived:.2f}")

# Сравнение
if average_age_not_survived > average_age_survived:
    print("Да, средний возраст погибших выше, чем у спасенных.")
else:
    print("Нет, средний возраст погибших не выше, чем у спасенных.")

Средний возраст спасенных пассажиров: 28.34
Средний возраст погибших пассажиров: 30.63
Да, средний возраст погибших выше, чем у спасенных.